backend/.vs/backend/CopilotIndices/17.14.734.62261/CodeChunks.db
backend/.vs/backend/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
backend/.vs/backend/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
backend/.vs/backend/CopilotIndices/17.14.734.62261/SemanticSymbols.db
backend/.vs/backend/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
backend/.vs/backend/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
backend/.vs/backend/DesignTimeBuild/.dtbcache.v2
backend/.vs/backend/FileContentIndex/2ec7bd6e-6240-42ec-9010-a820d54a22ec.vsidx
backend/.vs/backend/FileContentIndex/56a80673-93ab-434f-a725-1fd369313fff.vsidx
backend/.vs/backend/FileContentIndex/568fcc1f-8b73-4afb-8245-8c9d0dff63cc.vsidx
backend/.vs/backend/FileContentIndex/a62d448c-b791-42c9-9428-0a997335c4c7.vsidx
backend/.vs/backend/FileContentIndex/a073c82a-5c5e-4d21-ad9b-f3d178c5abaf.vsidx
backend/.vs/backend/v17/.futdcache.v2
backend/.vs/backend/v17/.suo
backend/.vs/backend/v17/DocumentLayout.backup.json
backend/.vs/
**/bin/
**/obj/